@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.spinner div {
  width: 46.2px;
  height: 46.2px;
  border: 4.4px solid #d8ed1e;
  border-top-color: transparent;
  border-radius: 50%;
}
.spinner div {
  animation: spinner 0.7874015748031495s linear infinite;
  top: 55.00000000000001px;
  left: 55.00000000000001px;
}
.container {
  width: 110px;
  height: 110px;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  padding: 300px 0;
  width: 100%;
}
.spinner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.spinner div {
  box-sizing: content-box;
}
