.payments {
  margin: 40px auto;
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.paymentsTitle {
  font-size: 1.4rem;
}

.link {
  font-size: 1.4rem;
  color: #979292;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #979292;
}

.link:hover {
  color: #c0cb3f;
  border-bottom: 1px solid #dcdcdc;
}
